{% extends "base.html" %}
{% block content %}

<header>
  <a href="/members">Back to Members</a>
  <h2>Update {{ member.full_name }}</h2>
</header>

<form action="/members/{{  member.id  }}" method="POST">
  <section>
    <label for="full_name">Name:</label>
    <input type="text" name="full_name" value="{{ member.full_name }}">

    <label for="membership">Membership Type:</label>
    <select name="membership">
      <option value="Premium">Premium</option>
      <option value="Standard">Standard</option>
    </select>

    <label for="status">Membership Status:</label>
    <select name="status">
      <option value="Active">Active</option>
      <option value="Deactive">Deactive</option>
    </select>

    <input type="submit" value="Update">
  </section>
</form>

{% endblock %}