{% extends "base.html" %}
{% block content %}

<h1>Members</h1>
<a href="/">Home</a>

<section class="members">
{% for member in members %}


  <div class="card">
    <div class="top">
      <h3>{{ member.full_name }}</h3>
      <img src="https://i.pinimg.com/236x/54/a4/00/54a4008daad4565a9b5db1b94e59c74c.jpg" alt="avatar">
    </div>
      <div class="bottom">
        <div class="status">
         <h4>{{ member.membership }} Member</h4>
         <h4>{{ member.status }}</h4>
         <a href="/members/ {{ member.id }}/edit">Edit Member</a>
      </div>
      </div>
    </div>
</div>


{% endfor %}
</section>
{% endblock %}