{% extends "base.html" %}
{% block content %}

<header>
  <a href="/">Home</a>
  <h2>Add a New Member</h2>
</header>

<form action="/members" method="POST">
  <section class="add-member-container">
    <main>
      <label for="full_name"> Name</label>
      <input type="text" name="full_name" placeholder="Enter Member Name" autocomplete="off">

      <label for="membership">Membership Type</label>
      <select name="membership">
        <option value="Premium">Premium</option>
        <option value="Standard">Standard</option>
      </select>
        
      <input type="submit">
  </main>
  </section>
</form>

{% endblock %}