{% extends "base.html" %}
{% block content %}

<header>
  <a href="/">Home</a>
  <h2>All Bookings</h2>
</header>

{% for activity in activities %}

<!-- Displays members booked on particular course -->
<section>
  <h3>{{ activity.name }}</h3>
  <p>On {{ activity.day_of_week  }} at {{ activity.time }} </p>
  <h5>Members booked on this class</h5>
  {% for booking in bookings %}
  <ul>
    {% if activity.name == booking.activity.name and booking.member.status == "Active" %}
    <li>{{ booking.member.full_name }}</li>
    {% endif %}
  </ul>

  {% endfor %}
  <h5>Space left: {{ activity.get_capacity_left(activity.capacity, activity.members_booked) }}</h5>
  
</section>

{% endfor %}
{% endblock %}