{% extends "base.html" %}
{% block content %}

<h2>Book Member on Class</h2>
<a href="/">Home</a>
<h3>What's on?</h3>

{% for activity in activities %}

<section>
  <h3>{{ activity.name }}</h3>
  <h4>Currently runs on a {{ activity.day_of_week }}</h4>
  <h5>Times: {{ activity.time }}</h5>
  <h5>Capacity Left: {{ activity.capacity }}</h5>
</section>

{% endfor %}

<form action="/bookings" method="POST">
  <section>
    <label for="member">Member:</label>
    <select name="member_id">
      <option value="" selected disabled hidden>Choose Member</option>
      {% for member in members %}
        <option value="{{  member.id  }}">
          {{  member.full_name  }}
        </option>
      {% endfor %}
    </select>

    <label for="activity">Activity:</label>
    <select name="activity_id">
      <option value="" selected disabled hidden>Choose Activity</option>
      {% for activity in activities %}
        <option value="{{  activity.id  }}">
          {{  activity.name  }}
        </option>
      {% endfor %}
    </select>

    <label for="day_of_week">Day of Week:</label>
    <select name="activity_id">
      <option value="" selected disabled hidden>Select Day</option>
      {% for activity in activities %}
        <option value="{{ activity.id }}">
          {{ activity.day_of_week }}
        </option>
      {% endfor %}
    </select>

    <label for="time">Time:</label>
    <select name="activity_id">
      <option value="" selected disabled hidden>Select Time</option>
      {% for activity in activities %}
        <option value="{{ activity.id }}">
          {{ activity.time }}
        </option>
        {% endfor %}
    </select>
    <input type="submit" value="Add">
  </section>

</form>

{% endblock %}