{% extends "base.html" %}
{% block content %}

<header>
  <a href="/">Home</a>
  <h2>Book Member on Class</h2>
</header>

<section class="container">
  <form action="/bookings" method="POST">
    <section class="booking-form">
      <label for="member">Member:</label>
      <select name="member_id">
        <option value="" selected disabled hidden>Choose Member</option>
        {% for member in members %}
        {% if member.status != "Active" %}
        <option value="{{  member.id  }}" hidden>
          {{  member.full_name  }}
        </option>
        {% else %}
        <option value="{{  member.id  }}">
          {{  member.full_name  }}
        </option>
        {% endif %}
        {% endfor %}
      </select>

      <label for="activity">Activity:</label>
      <select name="activity_id">
        <option value="" selected disabled hidden>Choose Activity</option>
        {% for activity in activities %}
        <!-- Hides the activity from the drop down menu if it is full -->
        {% if activity.members_booked == activity.capacity %}
        <option value="{{  activity.id  }}" hidden>
          {{  activity.name  }}
        </option>
        {% else %}
        <option value="{{  activity.id  }}">
          {{  activity.name  }}
        </option>
        {% endif %}
        {% endfor %}
      </select>
      <input type="submit" value="Add">
    </section>
  </form>

  <h3>Classes Available</h3>

  <section class="activities-container">
    {% for activity in activities %}
    <section class="activity-card">
      <h3>{{ activity.name }}</h3>
      <img
        src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/impressive-workout-royalty-free-image-898430526-1544720491.jpg"
        alt="fitness-class">
      <h4>Currently runs on a {{ activity.day_of_week }}</h4>
      <h5>Time: {{ activity.time }}</h5>
      <h5>Capacity Left: {{ activity.get_capacity_left(activity.capacity, activity.members_booked) }}</h5>
    </section>
    {% endfor %}
  </section>
</section>

{% endblock %}