{% extends "base.html" %}
{% block content %}

<h1>Classes</h1>
<a href="/">Home</a>

{% for activity in activities %}

<section>
  <h3>{{ activity.name }}</h3>
  <h4>Currently runs on a {{ activity.day_of_week }}</h4>
  <h5>Time: {{ activity.time }}</h5>
  <h5>Maximum Capacity: {{ activity.capacity }}</h5>
  
  <a href="/activities/ {{ activity.id }}/edit">Edit Class</a>
  <form action="/activities/{{ activity.id }}/delete" method="POST">
    <input type="submit" value="Remove">
  </form>
</section>

{% endfor %}
{% endblock %}