{% extends "base.html" %}
{% block content %}

<header>
  <a href="/">Home</a>
  <h1>Classes</h1>
</header>

<section class="container">
  <section class="activities-container">
    {% for activity in activities %}
    <section class="activity-card">
      <h3 class="name">{{ activity.name }}</h3>
      <img src="/static/images/class.jpg" alt="fitness-class">
      <h4>Currently runs on a {{ activity.day_of_week }}</h4>
      <h5>Time: {{ activity.time }}</h5>
      <h5>Maximum Capacity: {{ activity.capacity }}</h5>

      <a href="/activities/ {{ activity.id }}/edit">Edit Class</a>
      <form action="/activities/{{ activity.id }}/delete" method="POST">
        <input class="button" type="submit" value="Remove">
      </form>
    </section>
    {% endfor %}
  </section>
</section>
{% endblock %}