{% extends "base.html" %}
{% block content %}

<h2>Add a New Class</h2>
<a href="/">Home</a>

<form action="/activities" method="POST">
  <section>
    <label for="name">Class Name:</label>

    <label for="day_of_week">Day of the Week:</label>
    <select name="day_of_week">
      <option value="" selected disabled hidden>Choose Day</option>
      <option value="Monday">Monday</option>
      <option value="Tuesday">Tuesday</option>
      <option value="Wednesday">Wednesday</option>
      <option value="Thursday">Thursday</option>
      <option value="Friday">Friday</option>
      <option value="Saturday">Saturday</option>
      <option value="Sunday">Sunday</option>
    </select>

    <label for="time">Time: </label>
    <input type="time" name="time" value="08:00">

    <input type="submit" value="Save">
  </section>
</form>

{% endblock %}