{% extends "base.html" %}
{% block content %}

<section>
  <menu>
    <ul class="menu-list">
      <li><a href="/members" menu-text="MEMBERS">MEMBERS</a></li>
      <li><a href="/members/new" menu-text="ADD">ADD MEMBER</a></li>
      <li><a href="/activities" menu-text="CLASSES">CLASSES</a></li>
      <li><a href="/activities/new" menu-text="ADD">ADD CLASS</a></li>
      <li><a href="/bookings/new" menu-text="BOOK">BOOK MEMBER</a></li>
      <li><a href="/bookings" menu-text="BOOKINGS">BOOKINGS</a></li>
    </ul>
  </menu>
</section>

{% endblock %}
